<h1>Artists Home</h1>
<br />
<h2><%= link_to 'Add New Artist', new_artist_path %></h2>
<br />
<ul> List of Artists:
<br />
  <% @artists.each do |artist| %>
    <li>
      <%= link_to "#{artist.name} #{artist.genre}", artist %>
    </li>
  <% end %>
</ul>

