<h1>Artists</h1>
<br />
<h2><%= link_to 'Create New Artist', new_artist_path %></h2>
<br />
<ul> List of Artists:
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %>
    </li>
  <% end %>
</ul>
