<img 
  class="ui large rounded image"
  src='https://images.unsplash.com/photo-1566842937027-437d91739e89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80' 
/> 
<h1>Artists Home</h1>
<br />
<h2><%= link_to 'Add New Artist', new_artist_path %></h2>
<br />
<ul> List of Artists:
<br />
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %>
    </li>
  <% end %>
</ul>

