/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'materialize';
 @import 'artists.scss';
 @import 'flash';

 body { 
  background-color: #EDEDED;
  padding: 20px 0;
}

h1 {
  background-color: #47598F;
  border: 4px solid #20267A;
}
.div {
color: #765687;
}
#link {
  color: #527A78; 
}

a:hover {
  color: #193B8A;
}
 
nav a:hover {
  color: #fff;
}

img {
  max-width: 500px;
  max-height: 500px;
  margin: 20px 0;
}

.logout {
  float: right;
  margin-right: 30px;
}
