<img
  class="ui large rounded image"
  src='https://images.unsplash.com/photo-1547931295-64c05303a15b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'
/>
<h1>Billboards Home</h1>
<br />
<h2><%= link_to 'Create a New Billboard', new_billboard_path %></h2>
<br />
<ul> List of Billboards:
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to "#{billboard.region} #{billboard.name} #{billboard.genre}", billboard %>
    </li>
  <% end %>
</ul>
