
<img
  class="ui large rounded image"
  src='https://images.unsplash.com/photo-1547931295-64c05303a15b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'
/>
<h1>Billboards Home</h1>
<br />
<h4><b>Billboards:</b></h4>
<h5><%= link_to 'Create a New Billboard', new_billboard_path %></h5>
<ul class="collection">
  <% @billboards.each do |billboard| %>
    <li class="collection-item">
      <%= link_to "#{billboard.region} #{billboard.name} #{billboard.genre}", billboard %>
    </li>
  <% end %>
</ul>
