<h1><%= "#{@billboard.region} #{@billboard.name} #{@billboard.genre}" %></h1>

<ul>
<li><%= link_to  "Edit Billboard", edit_billboard_path %></li>
<li><%= link_to  "Delete Billboard", @billboard, method: :delete %></li>
</ul>
